.home {

  max-width: 600px;
  margin: 0 auto;

  &__title {
    margin-bottom: 30px;
    color: black;
    text-align: center;
    font-family: $default-font-family-bold;
    @include fluid-type(font-size, 320px, 1920px, 26px, 56px);
  }

  &__text {
    color: black;
    text-align: center;
    font-family: $default-font-family-regular;
    @include fluid-type(font-size, 320px, 1920px, 18px, 36px);
  }
}