//default font-families
$default-font-family-regular: "Ubuntu-Regular", sans-serif;
$default-font-family-bold: "Ubuntu-Bold", sans-serif;

//default colors
$default-default-background: #ffffff;

//Error color
$default-error-color: #F02944;
$default-error-background: rgba(240, 41, 68, 0.2);

//default font-families
$default-font-family-regular: "Ubuntu-Regular", sans-serif;
$default-font-family-bold: "Ubuntu-Bold", sans-serif;

// header colors

//footer colors

